#banner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#banner div {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 200px;
}

#banner img {
    margin: 135px 170px 66px 19px;
    image-rendering: auto;
    /* margin-top: 135px;
    margin-right: 200px;
    margin-bottom: 66px; */
}


#banner h2 {
    color: #FF4081;
    font-weight: 700;
    font-size: 60px;
    /* margin: 125px 35px 9px 200px; */
    margin-top: 125px;
    margin-right: 35px;
    margin-bottom: 9px;
    padding:0px;
}

#banner p {
    font-weight: 400;
    font-size:27px;
    color: #555555;
    width: 462px;
} 

#banner a {
    color: #FF4081;
    font-size: 27px;
    font-weight: 400;
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: 270px;
    margin-top: 35px;
    padding: 5px 26px;
}

#cursos {
    background-color: #F7F7F7;
    background-size: cover;
    text-align: center;
    /* justify-content: space-between; */
    padding: 100px;
    /* display: flex; */
    /* flex-direction: row; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* margin: 109px 180px 130px 160px; */
}

#cursos article {
    display: inline-block;
    padding: 30px;
}

#cursos h3 {
    margin-top: 45px;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 25px;
    color: #FF4081;
    align-content: center;

}

#cursos p {
    font-weight: 300;
    font-size: 17px;
    color: #000;
    width: 310px;
    margin-bottom: 26px;
    align-content: center;

}

#cursos a {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding: 8px 34px;
    background-color: #FF4081;
    border-radius: 62px;
    width: 280px;
    align-content: center;
}

#feedbacks {
    margin: 119px 120px 150px 128px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* max-height: 200px; */
    
}

#feedbacks h2 {
    color: #009688;
    font-weight: 700;
    font-size: 37px;
    margin-bottom: 90px;
}

#feedbacks article {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    padding: 10px;
    align-items: center;
}

#feedbacks p {
    width: 363px;
    font-weight: 300;
    font-size: 18px;
    color: #000;
    margin-left: 30px;
}

#maisconteudo {
    display: flex;
    padding: 50px;
    margin: 91px 100px 53px 100px;
    align-items: center;
    align-content: center;
    justify-content: space-around;
} 

#maisconteudo h2 {
    /* align-content: flex-start; */
    font-size: 37px;
    font-weight: 700;
    color: #009688;
    margin-bottom: 70px;

}

#maisconteudo article {
    display: inline-block;
    padding: 0px;
    margin: 11px 12px;
    /* justify-content: space-between; */

}

#maisconteudo article h3 {
    color: #009688;
    font-weight: 700;
    font-size: 27px;

    
}
#maisconteudo article p {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    width: 320px;
    display: flex;
    /* justify-content: space-between; */
}

#maisconteudo a {
    display: flex;
    justify-content: center;
    color: #FF4081;
    font-weight: 400;
    font-size: 25px;
    padding: 10px 40px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: 310px;
    text-decoration: none;
    margin-top: 101px;
    margin-bottom: 50px;
}